name: Main workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Clone down repository
        uses: actions/checkout@v2
      
      - name: Build application
        working-directory: 02-git-github/exercises/github-actions-katas
        run: |
          chmod +x ci/build-app.sh
          ci/build-app.sh